{{>header}}

    <div class="container">
        {{{listarCursosDetalle curso}}}
        <br>
        {{mensaje}}
        <br>
        <a class="btn btn-primary" href="/index" role="button">Volver</a>
    </div>

{{>footer}}