{{>header}}

    <div class="container">
        <h3>Lista de cursos inscritos para {{nombre}}</h3>
        <br>
            {{{listarCursosInscritoEstudiante lista}}}
        <br>
        {{mensaje}}
    </div>

{{>footer}}