{{>header}}

    <div class="container">
        {{{listarCursos lista}}}
        <br>
        {{mensaje}}
        <br>
        <br>
        <a class="btn btn-primary" href="/crearCurso" role="button">Crear Curso</a>
    </div>

{{>footer}}